<?php

$conf = [
    // Whether or not to enable the debug mode
    'debug' => true,

    // Database credentials configuration
    'database' => [
        'driver'   => 'pdo_mysql',
        'dbname'   => 'treasure_hunt',
        'host'     => 'localhost',
        'user'     => 'root',
        'password' => null,
        'port'     => 3306,
        'charset'  => 'utf8',
    ],
];

return $conf;
